# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
*.swp
*.DS_Store
/.vscode/*
/plug-ins/*
/icons/*
/presets/*
/scripts/*.pyc
/scripts/__pycache__/*
/source/external/*
/source/build/*
/source/filianore-maya/.vscode/*
